<link rel="stylesheet" href="./form.css" />
<div class="container">
  <h1>Write to them !!</h1>

  <form method="post" action="/new">
    <div class="box">
      <div class="image">
        <label for="user">To:</label>
        <div class="gap">
          <input type="text" name="user" />
          <img src="./love-letter.png" alt="" />
        </div>
      </div>

      <label for="message">Message:</label>
      <input type="text" name="message" class="msg" />
      <button type="submit">Send</button>
    </div>
  </form>
</div>
